<div [@routerTransition]>
  <app-page-header [heading]="'Planta'" [icon]="'fa-edit'"></app-page-header>

  <div class="row">
    <div class="col-lg-6">

      <form  (ngSubmit)="onSubmit()" role="form">

        <div [formGroup]="formPlanta" class="form-group">
            <label>Descripción</label>
            <input formControlName="descripcion" class="form-control" placeholder="Ingrese descripción de la planta">
        </div>

        <button type="submit" [disabled]="!formPlanta.valid" class="btn btn-primary">Guardar</button>
      </form>

    </div>
  </div>
  <!-- /.row -->
</div>
